@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

img {
    width: 100vw;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

a {
    display: block;
    background-color: rgb(100, 100, 100);
    color: white;
    text-align: center;
    font-weight: bolder;
    padding: 10px;
    text-decoration: none;
    font-size: medium;
    margin-top: -4px;
}

a:hover {
    border: 1px solid white;
    box-sizing: border-box;
}